/*
Created by Catherine Rodriquez
*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

body{
    background-color: rgb(81, 96, 110);
    height: 100vh;
    padding-top: 1px
}

.title{
    color: white;
    text-align: left;
    margin-left: 5em;
    font-size: 40px;
    margin-top: 0.5%;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.parsing-table {
    margin-top: 1.2%;
    display: flex;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.parser-table{
    max-width: 800px;
    margin-left: 3em;
    max-height: 500px;
    background-color: rgba(128, 128, 128, 0.671);
}

#output{
    width: 350px;
    height: 20px;
    margin-left: 62em;
    margin-top: -42em;
    background-color: rgba(128, 128, 128, 0.671);
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
    font-size: 18px;
}

/* th {
    background-color: #8e6767;
}

tbody tr:nth-child(even) {
    background-color: #8b6262;
} */

/* tbody tr:hover {
    background-color: #ddd;
} */

.non-terminal-row {
    font-weight: bold;
}

.terminal-row {
    font-weight: normal;
}

.PR-title{
    color: white;
    justify-content: space-between;
    /* margin-left: 1.5em; */
    margin-top: 1.5%;
    margin-right: 1%;
    text-align: left;
    font-size: 38px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    width: 100%;
    position: absolute;
    left: 2em;
}

.In-title{
    color: white;
    justify-content: center;
    /* margin-right: 15em; */
    margin-top: 1.5%;
    text-align: left;
    font-size: 38px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    width: 100%;
    position: absolute;
    left: 15em;
}

.Out-title{
    color: white;
    justify-content: center;
    margin-top: 1.5%;
    text-align: center;
    font-size: 38px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.input, .box{
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    bottom: 0%; */
}

#myInput{
    min-width: 300px;
    max-width: 300px; 
    margin-top: 0.5%;
    height: 100px;
    padding: 10px; 
    margin-left: 3em;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-size: 18px; 
    overflow-y: auto;
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: -0.5em;
}

.parseInput{
    height: 50px;
    min-width: 300px; 
    max-width: 300px; 
    padding: 10px; 
    margin-top: 0.5%;
    margin-right: 29em;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-size: 18px; 
    overflow-y: auto;
    width: 100%;
    position: absolute;
    bottom: 2em;
    left: 32em;
}

#submitRule{
    background-color: grey;
    color: black;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    /* margin-left: -4em;
    margin-top: 5em; */
    cursor: pointer;
    transition: transform 0.3s ease;
    position: absolute;
    left: 24em;
    bottom: -0.5em;
}

#gameModalButton{
    background-color: grey;
    color: black;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: -6em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.parseSubmit, .parseStep, .restart{
    background-color: grey;
    color: black;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    /* margin-left: 10em;
    margin-right: -9em; */
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    position: absolute;
    left: 38em;
    bottom: -0.5em;
}

#submitRule:hover, #submitParse:hover, #stepToParse:hover, #restart:hover, #gameModalButton:hover{
    transform: scale(1.1); 
}

.highlight::first-letter {
    color: red; /* Set the color of the first letter */
    /* Add any other styling properties as needed */
}

.hide{
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    font-size: 20px;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover, .close-modal:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.announce{
    color: lightblue;
    font-size: 30px;
    text-align: right;
}